# Dependencies
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/
.nyc_output/

# Misc
.cache/
temp/
tmp/
